.dashboard{

animation:fade .6s ease;

}

.hero-card{

background:linear-gradient(135deg,#071B34,#0A2540,#123B67);

color:white;

padding:40px;

border-radius:25px;

margin-bottom:35px;

box-shadow:0 20px 40px rgba(10,37,64,.25);

}

.hero-card h1{

font-size:36px;

margin-bottom:12px;

}

.hero-card p{

opacity:.9;

font-size:17px;

line-height:28px;

}

.dashboard-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(240px,1fr));

gap:25px;

}

.dashboard-card{

background:white;

padding:30px;

border-radius:22px;

text-align:center;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.08);

cursor:pointer;

}

.dashboard-card:hover{

transform:translateY(-10px);

box-shadow:0 25px 45px rgba(0,0,0,.15);

}

.dashboard-icon{

width:70px;

height:70px;

margin:auto;

display:flex;

justify-content:center;

align-items:center;

border-radius:20px;

color:white;

font-size:28px;

margin-bottom:20px;

}

.dashboard-card h2{

font-size:34px;

color:#0A2540;

margin-bottom:10px;

}

.dashboard-card p{

color:#64748B;

font-size:16px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}