*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

.login-page{

height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

padding:80px;

overflow:hidden;

background:linear-gradient(135deg,#6C3BFF,#2B2D42,#111827);

position:relative;

}

.blob{

position:absolute;

border-radius:50%;

filter:blur(60px);

animation:float 8s infinite alternate;

opacity:.45;

}

.blob1{

width:280px;
height:280px;
background:#00C897;
top:-80px;
left:-80px;

}

.blob2{

width:250px;
height:250px;
background:#FFB703;
bottom:-80px;
right:-50px;

}

.blob3{

width:180px;
height:180px;
background:#7C4DFF;
top:45%;
left:45%;

}

@keyframes float{

from{

transform:translateY(-20px);

}

to{

transform:translateY(30px);

}

}

.left-panel{

width:48%;

color:white;

z-index:2;

}

.brand h1{

font-size:58px;

margin-bottom:10px;

}

.brand h2{

font-size:30px;

margin-bottom:20px;

font-weight:500;

}

.brand p{

line-height:1.9;

opacity:.9;

margin-bottom:40px;

font-size:18px;

max-width:600px;

}

.feature{

display:flex;

align-items:center;

gap:15px;

margin-bottom:20px;

font-size:18px;

background:rgba(255,255,255,.08);

padding:15px 20px;

border-radius:15px;

backdrop-filter:blur(10px);

transition:.3s;

}

.feature:hover{

transform:translateX(10px);

}

.login-card{

width:430px;

padding:45px;

border-radius:25px;

background:rgba(255,255,255,.12);

backdrop-filter:blur(25px);

border:1px solid rgba(255,255,255,.25);

box-shadow:0 25px 50px rgba(0,0,0,.25);

color:white;

z-index:2;

animation:slide .8s;

}

@keyframes slide{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-card h2{

font-size:34px;

margin-bottom:10px;

}

.login-card p{

margin-bottom:30px;

opacity:.85;

}

.input-group-custom{

display:flex;

align-items:center;

background:white;

border-radius:14px;

margin-bottom:20px;

padding:0 15px;

}

.input-group-custom input{

width:100%;

border:none;

padding:16px;

font-size:16px;

}

.icon{

color:#6C3BFF;

}

.eye{

cursor:pointer;

color:#777;

}

.login-btn{

width:100%;

padding:16px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#6C3BFF,#8B5CF6);

color:white;

font-size:17px;

font-weight:600;

transition:.35s;

}

.login-btn:hover{

transform:translateY(-4px);

box-shadow:0 15px 30px rgba(108,59,255,.4);

}

@media(max-width:1000px){

.left-panel{

display:none;

}

.login-page{

justify-content:center;

padding:20px;

}

.login-card{

width:100%;

max-width:430px;

}

}