.activity-card{

margin-top:35px;

background:white;

padding:30px;

border-radius:22px;

box-shadow:0 12px 25px rgba(0,0,0,.08);

}

.activity-card h2{

margin-bottom:25px;

color:#0A2540;

}

.activity-item{

display:flex;

align-items:center;

padding:18px 0;

border-bottom:1px solid #f0f0f0;

transition:.3s;

}

.activity-item:last-child{

border-bottom:none;

}

.activity-item:hover{

transform:translateX(8px);

}

.activity-icon{

width:52px;

height:52px;

border-radius:14px;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:20px;

margin-right:18px;

}

.activity-text{

flex:1;

}

.activity-text h4{

margin-bottom:6px;

font-size:16px;

color:#0A2540;

}

.activity-text span{

color:#64748B;

font-size:14px;

}