.topbar{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

background:white;

padding:20px 30px;

border-radius:22px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.topbar h2{

font-size:30px;

color:#0A2540;

margin-bottom:6px;

}

.topbar p{

color:#64748B;

}

.topbar-right{

display:flex;

align-items:center;

gap:25px;

}

.search{

display:flex;

align-items:center;

background:#F1F5F9;

padding:12px 18px;

border-radius:30px;

width:300px;

}

.search svg{

margin-right:12px;

color:#64748B;

}

.search input{

border:none;

outline:none;

background:none;

width:100%;

font-size:15px;

}

.notify{

position:relative;

font-size:22px;

cursor:pointer;

color:#0A2540;

}

.notify span{

position:absolute;

top:-8px;

right:-10px;

background:red;

width:18px;

height:18px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:10px;

color:white;

}

.profile{

display:flex;

align-items:center;

gap:12px;

}

.profile svg{

font-size:42px;

color:#1E88E5;

}

.profile h4{

margin:0;

}

.profile small{

color:#64748B;

}